
/geochemistry/Minerals/.idea
/geochemistry/Minerals/tools/__pycache__
/geochemistry/Minerals/cache
geochemistry/.project
geochemistry/.project
geochemistry/catalog-v001.xml
/geochemistry/Minerals/tools/navocab/__pycache__
geochemistry/.project
